/* Son clases que modifican a un elemento */

/* Por ejemplo, quiero asignar ciertos estilo a un elemento puntual */
/* tooltip
algun detalle puntual de texto
centrar en flex
 */

.uti-fle-cen {
   display: flex;
   align-items: center;
   justify-content: center;
}

.uti-pos-cen {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.uti-svg-ico {
   align-items: center;
   display: flex;
   height: 3rem;
   justify-content: center;
   line-height: 0;
   width: 3rem;
}
