* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-tertiary);
  margin: 0 auto;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

input:valid {
  background-color: rgba(168, 228, 168, 0.589);
}

.svg__sprite {
  align-items: center;
  display: flex;
  fill: var(--color-secondary);
  height: 3rem;
  justify-content: center;
  line-height: 0;
  width: 3rem;
}
