html {
  font-size: 62.5%;
}

body {
  color: var(--color-secondary);
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
}

p::selection,
h2::selection,
h3::selection {
  background-color: var(--color-primardy);
  color: var(--color-tertiary);
}

h1 {
  margin: 0;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

.heading-primary {
  font-size: 4rem;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.heading-primary::selection {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

.heading-secondary {
  margin: 1rem;
}

/*--- Media Query ---*/
@media (max-width: 1050px) {
  .heading-primary {
    font-size: 2rem;
  }
}
