/* default settings for buttons 1*/
.btn {
  background-color: var(--color-primary);
  border-radius: 5px;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
  padding: 1rem 10rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--color-tertiary);
}

/* Home - Hero btn cta */
.btn--main {
  background-color: transparent;
  border-radius: 10px;
  border: 5px solid var(--color-secondary);
  display: inline-block;
  font-size: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  padding: 1rem 1.5rem;
  position: relative;
}

.btn--main:hover {
  background-color: transparent;
}

.btn--main::after {
  background-color: var(--color-primary);
  border-radius: 10px;
  content: "";
  height: 110%;
  left: -10px;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  width: 0%;
  z-index: -1;
}

.btn--main:hover::after {
  width: 120%;
}

/* Home - Membership section buttons */
.btn--memberships {
  display: inline-block;
  margin: 1rem 0 3rem 0;
}

/* Home - Feed section buttons */
.feed_btn {
  align-items: center;
  display: flex;
  font-size: 3.25rem;
  height: 5.5rem;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  width: 4rem;
}

.feed_btn--left {
  left: 10%;
  transform: translate(-50%, -50%);
}

.feed_btn--right {
  right: 10%;
  transform: translate(50%, -50%);
}

/* Locations - local btns */
.btn--local {
  border-radius: 0px 0px 5px 5px;
  display: inline-block;
  transition: all 0.3s ease;
  width: 100%;
}

/* Create account - form btns */
.account__btn {
  display: inline-block;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  width: 190px;
}

/* New account - form btn */
.new-account--btn {
  display: inline-block;
  margin-top: 2rem;
}

/* Work with us - send info button */
.work__btn {
  width: 100%;
}

/* Close contact modal buttons */
.modal__btn--close {
  border-radius: 5px;
  border: 1px solid transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 7px;
  top: 30px;
  transition: all 0.2s ease;
  width: 3rem;
}

.modal__btn--close:hover {
  border: 1px solid var(--color-primary);
  transform: scale(1.1);
}

/* Login user buttons */
.login__btn {
  display: block;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 90%;
}

/*--- MOBILE---*/
.header__icon-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 3rem;
}

.header__btn--openNav {
  left: 10px;
  top: 10px;
}

.header__btn--closeNav {
  position: absolute;
  right: 12px;
  top: 12px;
}

/*--- Media Query ---*/

@media (max-width: 1050px) {
  /* Create account - form btns */
  .account__btn {
    width: 100%;
  }
}

@media (max-width: 600px) {
  /* Home - Feed section buttons */
  .feed_btn--left {
    left: 5%;
    transform: translate(-50%, -50%);
  }

  .feed_btn--right {
    right: 5%;
    transform: translate(50%, -50%);
  }

  .feed_btn {
    font-size: 2rem;
    height: 3.5rem;
    width: 3rem;
  }
}

@media (max-width: 350px) {
  /* Home - Membership section buttons */
  .btn--memberships {
    padding: 1rem 4rem;
  }

  /* New account - form btn */
  .new-account--btn {
    padding: 1rem 5rem;
  }
}
