/* COOKIE MESSAGE */
.cookie-message {
   background-color: var(--color-secondary);
   bottom: 0;
   color: var(--color-tertiary);
   padding: 0.4rem 0;
   position: fixed;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
}

.btn-ok-cookie {
   background-color: var(--color-primary);
   border-radius: 5px;
   border: none;
   color: var(--color-secondary-strong);
   cursor: pointer;
   outline: none;
   padding: 0.5rem 2rem;
}

.btn-no-cookie {
   background-color: var(--color-bg-contrast);
   border-radius: 5px;
   border: none;
   color: var(--color-secondary);
   cursor: pointer;
   outline: none;
   padding: 0.5rem 2rem;
}

/*--- Media Query ---*/
@media (max-width: 1050px) {
   .cookie-message {
      font-size: 1.2rem;
      padding: 0.6rem;
   }

   .btn-ok-cookie {
      padding: 0.5rem 1rem;
   }

   .btn-no-cookie {
      padding: 0.5rem 1rem;
   }
}
