.membership__contact {
   align-content: center;
   background-color: var(--color-secondary);
   border-radius: 5px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   justify-items: center;
   padding: 2rem 0;
   width: 90%;
}

.contact__block {
   align-items: center;
   display: flex;
   justify-content: center;
   padding: 1rem 0;
   width: 80%;
}

.contact__block-icon {
   fill: var(--color-primary);
   height: 6rem;
   margin: 0 auto;
   transition: all 0.3s ease;
   width: 6rem;
}

.contact__box:hover .contact__block-icon {
   transform: scale(1.3) rotate(-4deg);
}

.heading-secondary--contact {
   color: var(--color-primary);
   font-size: 2.5rem;
}

.contact__box {
   border-radius: 5px;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.122);
   padding: 1rem 0;
   width: 100%;
}

.contact__box--bottom {
   font-weight: bold;
   margin-top: 2rem;
}

.contact__link {
   color: var(--color-bg-contrast);
   text-decoration: underline;
}

.contact__box--bottom {
   align-items: center;
   display: flex;
   justify-content: center;
}

.socials__box {
   display: flex;
   flex-basis: 50%;
   justify-content: space-around;
}

.contact__icons {
   fill: var(--color-bg-contrast);
}

.contact__box--bottom--mail {
   flex-direction: column;
}

@media (max-width: 1050px) {
   .membership__contact {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
      padding: 1rem 0;
      width: 95%;
   }
}
