.new-account {
  background-color: var(--color-secondary);
  border-radius: 5px;
  margin: 4rem auto;
  padding: 2rem;
}

.new-account__form {
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  color: var(--color-tertiary);
  margin: 3rem auto;
  max-width: 95%;
  padding: 2rem 4rem;
  width: 700px;
}

.new-account__row {
  border: none;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 1rem 0;
}

.new-account__label {
  margin-left: 3rem;
  position: relative;
  text-align: left;
}

.new-account__label::after {
  color: red;
  content: "*";
  position: absolute;
}

.new-account__input {
  border-radius: 5px;
  border: none;
  height: 50px;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
}

.new-account__row .error__message {
  color: red;
  font-size: 1.4rem;
  font-style: italic;
  margin-left: 3rem;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  transition: all 0.4s;
}

.new-account__input:invalid ~ .error__message {
  max-height: 100px;
}

@media (max-width: 800px) {
  .new-account__form {
    padding: 1rem;
  }

  .new-account__label {
    margin-left: 2rem;
  }

  .new-account__row--message {
    height: 140px;
  }

  .new-account__row .error__message {
    margin-left: 2rem;
  }
}
