:root {
  --color-bg-contrast: #2c1d58;
  --color-info-secondary: #ec672d;
  --color-info: yellow;
  --color-primary: #ec672d;
  --color-secondary-strong: white;
  --color-secondary: #e7dfdd;
  --color-tertiary: #0a0519;
}
